.auth-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.auth-modal {
    background-color: #FFF;
    width: 350px;
    padding: 35px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-title {
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 15px;
}

.auth-modal input {
    border: 1px solid #BBB;
    width: 100%;
    margin-bottom: 15px;
    padding: 3px 8px;
    outline: none;
}

.auth-modal button {
    align-self: flex-end;
    background-color: #2460ae;
    color: #FFF;
    padding: 5px 15px;
}

.auth-modal a span {
    margin-top: 35px;
    color: #2460ae;
    cursor: pointer;

}

.auth-modal a span:hover {
    margin-top: 35px;
    color: #ae7224;
    cursor: pointer;

}

.auth-modal h3 {
    font-family:monospace;
    font-size: 1.53125rem;

}

.auth-modal button {
    border-radius: 10px;

}